<h1>編集</h1>


<%= form_tag("/users/#{@user.id}/update", {multipart: true}) do %>
<div class="edit">


  <p>ログイン名</p>
  <input type="text" name="name" value="<%= @user.user_id%>">

  <p>メールアドレス</p>
  <input type="text" name="email" value="<%= @user.email%>">

  <p>パスワード</p>
  <input type="password" name="password" value="<%= @user.password%>">

  <p>プロフィール画像</p>
  <input type="file" name="image">

  <input type="submit" value="編集">
  <%= link_to("戻る", "/users/#{@user.id}")%>
</div>
<% end %>
